.canvas-wrapper {
    text-align: center;
}

.fps-tags {
    justify-content: center;
}

main {
    padding: 20px;
}

.row {
    margin-bottom: 20px;
}

.nav-wrapper {
    margin: 10px 20px;
}

.panel .panel-block {
    align-items: flex-start;
}

.panel-block.sortable-dragging {
    background-color: white;
    border-top: 1px solid #dbdbdb;
}

.panel .panel-icon {
    height: 36px;
    display: flex;
}

.panel .column.col-title {
    display: flex;
    align-items: center;
}

.panel .column.col-toggle {
    flex-grow: 0;
}

.panel .control .columns:not(:last-child) {
    margin-bottom: -.25rem;
}

.panel .control label {
    font-size: 14px;
}

.panel .control input[type=range].slider {
    margin: 0.5rem 0;
}
