.canvas-wrapper {
    min-height: 600px;
}

.canvas-wrapper {
    text-align: center;
}

.fps-tags {
    justify-content: center;
}

main {
    padding: 20px;
}

main .row {
    padding-bottom: 20px;
}

.panel .column.col-title {
    display: flex;
    align-items: center;
}

.panel .column.col-toggle {
    flex-grow: 0;
}
